#stacks_in_8_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_8_page0>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_8_page0>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_8_page0>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_8_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_8_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





/*  */
#card-stacks_in_11_page0 .card-inner:hover::before {
  opacity: 0.8; }

#card-stacks_in_11_page0 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_11_page0 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_11_page0 {
  overflow: visible !important; }

#card-stacks_in_11_page0 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_11_page0.card-left {
    margin-right: auto; }
  #card-stacks_in_11_page0.card-right {
    margin-left: auto; }
  #card-stacks_in_11_page0.card-center {
    margin: 0 auto; }
  #card-stacks_in_11_page0 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_11_page0 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_11_page0 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../files/card_image_11.png);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_11_page0 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #21FF06, #FB0207);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_11_page0 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_11_page0 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_11_page0 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_11_page0 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_11_page0 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_11_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_11_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_11_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_11_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_11_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_11_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
/*  */
#card-stacks_in_13_page0 .card-inner:hover::before {
  opacity: 0.8; }

#card-stacks_in_13_page0 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_13_page0 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_13_page0 {
  overflow: visible !important; }

#card-stacks_in_13_page0 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_13_page0.card-left {
    margin-right: auto; }
  #card-stacks_in_13_page0.card-right {
    margin-left: auto; }
  #card-stacks_in_13_page0.card-center {
    margin: 0 auto; }
  #card-stacks_in_13_page0 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_13_page0 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_13_page0 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../files/card_image_13.jpg);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_13_page0 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #FFFFFF, #0000FF);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_13_page0 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_13_page0 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_13_page0 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_13_page0 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_13_page0 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_13_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_13_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_13_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_13_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_13_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_13_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
#stacks_in_15_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_15_page0>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_15_page0>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_15_page0>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_15_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_15_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





/*  */
#card-stacks_in_17_page0 .card-inner:hover::before {
  opacity: 0.8; }

#card-stacks_in_17_page0 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_17_page0 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_17_page0 {
  overflow: visible !important; }

#card-stacks_in_17_page0 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_17_page0.card-left {
    margin-right: auto; }
  #card-stacks_in_17_page0.card-right {
    margin-left: auto; }
  #card-stacks_in_17_page0.card-center {
    margin: 0 auto; }
  #card-stacks_in_17_page0 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_17_page0 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_17_page0 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../files/card_image_17.jpg);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_17_page0 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #FC6FCF, #FD8008);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_17_page0 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_17_page0 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_17_page0 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_17_page0 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_17_page0 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_17_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_17_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_17_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_17_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_17_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_17_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
/*  */
#card-stacks_in_20_page0 .card-inner:hover::before {
  opacity: 0.8; }

#card-stacks_in_20_page0 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_20_page0 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_20_page0 {
  overflow: visible !important; }

#card-stacks_in_20_page0 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_20_page0.card-left {
    margin-right: auto; }
  #card-stacks_in_20_page0.card-right {
    margin-left: auto; }
  #card-stacks_in_20_page0.card-center {
    margin: 0 auto; }
  #card-stacks_in_20_page0 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_20_page0 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_20_page0 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../files/card_image_20.jpg);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_20_page0 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #FB02FF, #0000FF);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_20_page0 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_20_page0 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_20_page0 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_20_page0 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_20_page0 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_20_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_20_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_20_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_20_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_20_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_20_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
#stacks_in_22_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_22_page0>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_22_page0>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_22_page0>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_22_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_22_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





/*  */
#card-stacks_in_24_page0 .card-inner:hover::before {
  opacity: 0.8; }

#card-stacks_in_24_page0 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_24_page0 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_24_page0 {
  overflow: visible !important; }

#card-stacks_in_24_page0 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_24_page0.card-left {
    margin-right: auto; }
  #card-stacks_in_24_page0.card-right {
    margin-left: auto; }
  #card-stacks_in_24_page0.card-center {
    margin: 0 auto; }
  #card-stacks_in_24_page0 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_24_page0 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_24_page0 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../files/card_image_24.png);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_24_page0 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #21FF06, #408002);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_24_page0 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_24_page0 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_24_page0 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_24_page0 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_24_page0 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_24_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_24_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_24_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_24_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_24_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_24_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
/*  */
#card-stacks_in_29_page0 .card-inner:hover::before {
  opacity: 0.8; }

#card-stacks_in_29_page0 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_29_page0 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_29_page0 {
  overflow: visible !important; }

#card-stacks_in_29_page0 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_29_page0.card-left {
    margin-right: auto; }
  #card-stacks_in_29_page0.card-right {
    margin-left: auto; }
  #card-stacks_in_29_page0.card-center {
    margin: 0 auto; }
  #card-stacks_in_29_page0 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_29_page0 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_29_page0 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../files/card_image_29.jpg);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_29_page0 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #FFFFFF, #7F7F7F);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_29_page0 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_29_page0 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_29_page0 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_29_page0 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_29_page0 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_29_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_29_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_29_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_29_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_29_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_29_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
#stacks_in_31_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_31_page0>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_31_page0>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_31_page0>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_31_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_31_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





/*  */
#card-stacks_in_33_page0 .card-inner:hover::before {
  opacity: 0.8; }

#card-stacks_in_33_page0 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_33_page0 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_33_page0 {
  overflow: visible !important; }

#card-stacks_in_33_page0 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_33_page0.card-left {
    margin-right: auto; }
  #card-stacks_in_33_page0.card-right {
    margin-left: auto; }
  #card-stacks_in_33_page0.card-center {
    margin: 0 auto; }
  #card-stacks_in_33_page0 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_33_page0 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_33_page0 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../files/card_image_33.jpg);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_33_page0 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #FFFF0A, #0F80FF);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_33_page0 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_33_page0 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_33_page0 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_33_page0 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_33_page0 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_33_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_33_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_33_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_33_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_33_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_33_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
/*  */
#card-stacks_in_36_page0 .card-inner:hover::before {
  opacity: 0.8; }

#card-stacks_in_36_page0 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_36_page0 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_36_page0 {
  overflow: visible !important; }

#card-stacks_in_36_page0 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_36_page0.card-left {
    margin-right: auto; }
  #card-stacks_in_36_page0.card-right {
    margin-left: auto; }
  #card-stacks_in_36_page0.card-center {
    margin: 0 auto; }
  #card-stacks_in_36_page0 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_36_page0 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_36_page0 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../files/card_image_36.jpg);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_36_page0 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #804003, #000000);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_36_page0 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_36_page0 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_36_page0 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_36_page0 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_36_page0 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_36_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_36_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_36_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_36_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_36_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_36_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
#stacks_in_38_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_38_page0>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_38_page0>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_38_page0>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_38_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_38_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





/*  */
#card-stacks_in_40_page0 .card-inner:hover::before {
  opacity: 0.8; }

#card-stacks_in_40_page0 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_40_page0 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_40_page0 {
  overflow: visible !important; }

#card-stacks_in_40_page0 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_40_page0.card-left {
    margin-right: auto; }
  #card-stacks_in_40_page0.card-right {
    margin-left: auto; }
  #card-stacks_in_40_page0.card-center {
    margin: 0 auto; }
  #card-stacks_in_40_page0 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_40_page0 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_40_page0 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../files/card_image_40.png);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_40_page0 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #FB0207, #FFFF0A);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_40_page0 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_40_page0 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_40_page0 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_40_page0 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_40_page0 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_40_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_40_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_40_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_40_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_40_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_40_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
/*  */
#card-stacks_in_43_page0 .card-inner:hover::before {
  opacity: 0.8; }

#card-stacks_in_43_page0 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_43_page0 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_43_page0 {
  overflow: visible !important; }

#card-stacks_in_43_page0 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_43_page0.card-left {
    margin-right: auto; }
  #card-stacks_in_43_page0.card-right {
    margin-left: auto; }
  #card-stacks_in_43_page0.card-center {
    margin: 0 auto; }
  #card-stacks_in_43_page0 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_43_page0 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_43_page0 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../files/card_image_43.png);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_43_page0 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #000000, #000080);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_43_page0 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_43_page0 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_43_page0 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_43_page0 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_43_page0 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_43_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_43_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_43_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_43_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_43_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_43_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
