
#stacks_in_1_page1 {
	padding:  18px;
}

#stacks_out_1_page1 {
	margin-left:0;
}

#stacks_in_3_page1 {
	font-size: 133%;
}

#stacks_in_118_page1 {
	-moz-border-radius:  7px;
	-webkit-border-radius:  7px;
	border-radius:  7px;
	margin:  12px;
}
#stacks_in_111_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_111_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_111_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_111_page1>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_111_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_111_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_58_page1 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}

#stacks_in_74_page1 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}

#stacks_in_64_page1 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}

#stacks_in_79_page1 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}
#stacks_in_87_page1_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_87_page1 a:link, #stacks_in_87_page1 a:visited {
	 display:block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_87_page1 a:hover, #stacks_in_87_page1 a:active {
	color:#FFFFFF;
}







#stacks_in_87_page1 a:link, #stacks_in_87_page1 a:visited {
	background-color:#15A002;
	background: -webkit-gradient(linear, left top, left bottom, from(#15A002), to(#0C6001));
	border:1px solid #0C6001;
	padding:3px 20px;
	border-radius:30px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_87_page1 a:hover {
	background-color:#16AC02;
	background: -webkit-gradient(linear, left top, left bottom, from(#16AC02), to(#0B5301));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_87_page1 a:active {
	background-color:#15A002;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}



